.app {
    min-height: 100vh;
}

.container {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    pointer-events: visible;
}

.board {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

.interface {
    height: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
}

.quadrant {
    padding: 32px;
}

.controls {
    composes: quadrant;
}

.score {
    composes: quadrant;
    display: flex;
    justify-content: flex-end;
}

.rules {
    composes: quadrant;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    max-width: 512px;
}

.about {
    composes: quadrant;
    align-items: flex-end;
    display: flex;
    font-size: 14px;
    justify-content: flex-end;
    text-align: right;
}

.title {
    font-size: 36px;
    margin-bottom: 24px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.menu {
    height: 100%;
}

.options {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.buttons {
    align-items: stretch;
    display: flex;
    font-size: 14px;
    height: 40px;
    max-width: 512px;
    position: absolute;
    transform: translateY(-256px);
    transition: transform 500ms ease;
}

.scoreBoard {
    display: flex;
    justify-content: flex-end;
    min-width: 512px;
    position: absolute;
    transform: translateY(-256px);
    transition: transform 500ms ease;
}

.active {
    transform: translateY(0);
}

.scoreNone {
    color: rgb(140, 140, 140);
    font-style: italic;
}

.scoreTeam {
    flex-basis: 50%;
}

.scoreIcons {
    display: flex;
    flex-wrap: wrap;
}

.scoreIcon {
    margin: 0 4px 4px 0;
}
