@keyframes bounce {
    0% { transform: translateY(0px); }
    50% { transform: translateY(-8px); }
    100% { transform: translateY(0px); }
}

@keyframes dash {
    from { stroke-dashoffset: 140; }
    to { stroke-dashoffset: 0; }
}

@keyframes pulse {
    from { opacity: 1; }
    to { opacity: 0; }
}

.tileSelectable {
    cursor: pointer;
}

.tileSelectable .tileFaceOverlay:hover {
    fill: rgba(255, 255, 255, 0.10) !important;
}

.tileFace {
    shape-rendering: crispEdges;
}

.tileFaceOverlay {
    transition: fill 75ms ease;
    shape-rendering: geometricPrecision;
}

.tileSelectable .tileFaceOverlay {
    animation: dash 4s linear infinite;
    stroke-dasharray: 8;
    stroke-width: 1px;
    stroke: rgba(255, 255, 255, 1);
}

.pieceGroup {
    pointer-events: none;
    transition: transform 500ms ease;
}

.piece {
    pointer-events: none;
}

.moveMarker {
    animation: pulse 500ms ease 0ms infinite alternate;
    pointer-events: none;
    stroke-width: 3px;
    stroke: rgba(255, 0, 0, 0.4);
}

.piecesGroup {
    transition: transform 750ms ease;
}

.piecesGroupAppear {
    transform: translateY(-756px);
}

.piecesGroupAppearActive,
.piecesGroupEnterDone {
    transform: translateY(0);
}

.bounce {
    animation-name: bounce;
    animation-delay: 750ms;
    animation-iteration-count: 3;
    animation-duration: 750ms;
}
