.button {
    border-bottom-color: #CCCCCC;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    transition: border-color 250ms ease;
}

.button:not(.disabled):not(.selected) {
    cursor: pointer;
}

.button:not(.disabled):not(.selected):hover {
    background-color: #EEEEEE;
    border-color: #F2F2F2;
}

.button:not(.disabled):active {
    border-color: #AAAAAA;
}

.button.disabled {
    cursor: default;
    color: rgb(140, 140, 140);
}

.selected {
    border-color: hsla(231, 48%, 16%, 1);
}

.selected:not(.disabled):hover,
.selected:not(.disabled):active {
    border-color: hsla(231, 48%, 16%, 1);
}

.selected.disabled {
    border-color: hsla(231, 10%, 60%, 1);
}

.selected.disabled.team use {
    fill: rgb(230, 230, 230);
}

.team {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 40px;
}

.team.disabled use {
    fill: rgb(140, 140, 140);
}

.start {
    border-width: 0px;
    align-items: center;
    display: flex;
    font-weight: bold;
    justify-content: flex-end;
    padding: 0 16px;
    vertical-align: middle;
}

.button + .button {
    margin-left: 24px;
}
